/*
*******************************************************************************
\file stamp.rc
\brief Windows resources
\project bee2/cmd
\created 2011.10.18
\version 2013.02.27
\copyright The Bee2 authors
\license Licensed under the Apache License, Version 2.0 (see LICENSE.txt).
*******************************************************************************
*/

#include <winres.h>

/*
*******************************************************************************
Stamp
*******************************************************************************
*/

1 256 {"0123456789ABCDEF0123456789ABCDEF"}


