# Build and run tests on the baseline platform

name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - BUILD_TYPE: MemSan
          BUILD_FAST: ON
          BASH_PLATFORM: BASH_AVX2
          CC: gcc
        - BUILD_TYPE: Check
          BUILD_FAST: OFF
          BASH_PLATFORM: BASH_SSE2
          CC: clang
        - BUILD_TYPE: Release
          BUILD_FAST: ON 
          BASH_PLATFORM: BASH_32 
          CC: clang
        - BUILD_TYPE: ASan
          BUILD_FAST: OFF 
          BASH_PLATFORM: BASH_64
          CC: gcc
    steps:
    - name: Get source
      uses: actions/checkout@v3
      
    - name: Configure CMake
      run: CC=${{matrix.CC}} cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}} -DBUILD_FAST=${{matrix.BUILD_FAST}} -DBASH_PLATFORM=${{matrix.BASH_PLATFORM}} 

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.BUILD_TYPE}} --verbose
