# Measure code coverage using Codecov
# \info https://github.com/marketplace/actions/codecov

name: coverage

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  run:
    name: Measure code coverage
    runs-on: ubuntu-latest
    steps:
    - name: Get source
      uses: actions/checkout@v4
    - name: Configure CMake
      run: >
        CC=gcc cmake -B ${{github.workspace}}/build 
        -DCMAKE_BUILD_TYPE=Coverage
    - name: Build
      run: cmake --build ${{github.workspace}}/build
    - name: Run tests
      working-directory: ${{github.workspace}}/build
      run: |
        test/testbee2
        cd cmd && cp ../../cmd/test/* . && ./test.sh
    - name: Upload report to Codecov
      uses: codecov/codecov-action@v5
      with:
        directory: ${{github.workspace}}/build
        gcov_ignore: './test/**/*'
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

